/* @import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;900&family=Cormorant:wght@300&family=Noto+Sans+Mono:wght@300&family=Poppins:wght@400;700&family=Quicksand:wght@300;500&family=Raleway:wght@200;400;500;600&family=Roboto:wght@300;400&family=Spectral:ital,wght@1,200&display=swap");
 */
@import url('https://fonts.cdnfonts.com/css/turner-new-bold');
 @import url('https://fonts.cdnfonts.com/css/serfiyan');
@import url('https://fonts.cdnfonts.com/css/tt-ricordi-greto-trial');
@import url('https://fonts.cdnfonts.com/css/monocole-free');
@import url('https://fonts.cdnfonts.com/css/harttley-suttonline');
@import url('https://fonts.cdnfonts.com/css/foxtel-2017-19');
@import url('https://fonts.cdnfonts.com/css/aventena');
@import url('https://fonts.cdnfonts.com/css/goldburg');
@import url('https://fonts.cdnfonts.com/css/g-gerhana-matahari');
@import url('https://fonts.cdnfonts.com/css/mugen-value');
@import url('https://fonts.cdnfonts.com/css/trial-oceanic');
@import url('https://fonts.cdnfonts.com/css/allisa-2');
@import url("https://fonts.cdnfonts.com/css/futura-pt");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
   width: 100px;
   height: 100px;
	transform-origin: 50% 50%;
	transition: 5.5s;
	box-shadow: 0.4 0.4 0.4 black;
	/* -webkit-filter: drop-shadow(2px 2px 2px #666666); */
	filter: drop-shadow(2px 2px 3px #666666);
	animation-name: circles;
	animation-duration: 10s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes circles {
	100%{
		transform: rotate(360deg);
	}
}

body{
    font-family: 'monocole';
    font-family: 'g Gerhana Matahari', sans-serif;
}

.flex{
    display: flex;
    align-items: center;
}

nav{
    justify-content: space-between;
    font-family: 'goldburg';
    /* border-bottom: 0.4px solid black; */
    background-color: black;
    color: white;
}

.logo-name{
    font-weight: 300;
    color: white;
    font-family: "Futura PT", sans-serif;
    font-size: 2.1rem;
}

.logss{
    color: white;
}

.bi-bag{
    color: rgb(185, 185, 185);
    width: 5rem;
    font-size: 5rem;
    z-index: 2;
    cursor: pointer;
}



.cart-amount{
    position: absolute; 
    top: -10px;
    right: 15px;
    font-size: 20px;
    /* background-color: black; */
  color: white;
    width: 20px;
    text-align: center;
    border-radius: 3px;
    font-weight: 200;
    font-family: 'Monocole Free', sans-serif;
}

.cart{
    flex-direction: row;
    position: relative;
    font-size: 2.5rem;
    margin-right: 20px;
}

.flex{
    display: flex;
    align-items: center;
}

.product-image{
    width: 600px;
    height: 600px;
    object-fit: contain;
}

.prod-back{
    margin-top: 80px;
    padding: 10px;
   
}

.details-card h4{
  font-family: 'Allisa', sans-serif;
font-size: 1.5rem;
font-weight: 300;
}

.details-card h5{
    margin-top: 10px;
    font-family: 'Allisa', sans-serif;
}

.details-card h3{
      font-family: 'Allisa', sans-serif;
      font-size: 2rem;
}

.price-tag{
    font-family: 'Allisa', sans-serif;
    text-align: center;
   margin-top: 240px; 
   margin-right: 45%;
   padding: 100px;
   width: 360px;
   margin-left: 35%;
   border-radius: 10px;
   box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  
}

.margin{
     margin-bottom: 40px;
}

.add-to-bag{
    font-family: 'Allisa', sans-serif;
    width: 100%;
    height: 100vh;
}

.flex-contian{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 10px;
}

.bi-suit-heart-fill{
    margin-top: 25px;
    transition: 0.3s ease-in-out;
}

.bi-suit-heart-fill:hover{
    /* color: rgb(221, 57, 57); */
    cursor: pointer;
}

.flex-contian h3{
  margin-right: 24px;
  font-size: 1.4rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

.button{
    width: 140px;
    margin-top: 20px;
   padding: 10px;
   border: 1px solid black;
   border-radius: 2px;
   background-color: black;
   color: white;
}

.button:hover{
 cursor: pointer;
 color: gold;
}

.stock{
    margin-left: 24px;
    margin-bottom: 40px;
}

.quantity{
    width: 40px;
}

a{
    text-decoration: none;
}

.loved-bag{
    /* background-color: white; */
    width: 20%;
    right: 1px;
    position: absolute;
    flex-direction: row;
    margin-top: -17px;
}

.love-amount{
    position: relative;
    top: -9px;
    right: 25px;
    font-size: 21px;
     font-family: 'Monocole Free', sans-serif;
     font-weight: 100;
     font-weight: lighter;
}


.loved-items{
    align-items: center;
    background-color: rgb(40, 44, 47);
    
}

.loved-items-container{
    gap: 30px;
    margin-right: 40px;
}

.bi-heart{
    align-items: baseline;
    margin-top: 10px;
}

.bi-heart:hover{
 cursor: pointer;
 color: rgb(241, 92, 92);
}
.product-container{
    margin-top: -40px;
}

.acti{
    fill: red;
}